.overlay{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 10;
    left: 0;
    
}

.masthead { 
	    position: relative;
    background-color: #343a40;
	background: url("../bg-masthead.jpg") no-repeat center center;
	 padding-top: 8rem;
    padding-bottom: 8rem
}


